$cyellow : #FED136;
$crimson-main : rgba(167, 5, 0, 1); // #A70500
$crimson-darkened : rgb(110, 0, 0); // #960000
$crimson-red : rgb(150, 0, 0);
$cgrey : #6B6B6B;

.Pagination {
  margin : 15px 0;
  
  > div {
    display    : inline-block;
    min-width  : 35px;
    padding    : 5px 5px;
    border     : 1px solid lighten($cgrey, 50);
    text-align : center;
    
    span {
      font-size : 10px;
    }
    
    &:hover, &.active {
      cursor           : pointer;
      background-color : $crimson-main;
      color            : $cyellow;
      
      span {
        color : $cyellow;
      }
    }
  }
  
}